name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: axelfelipe
          outputs: |
            dist/github-contribution-grid-snake-purple.svg?palette=github-dark&color_snake=#9B5DE5
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


- name: Setup Node.js environment
  uses: actions/setup-node@v6.1.0
  - name: Cache
  uses: actions/cache@v5.0.1
